*{
  font-family:cursive;
  margin: 0;
  padding: 0;
}
h1.construction{
  color: white;
  font-size: 70px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.image {
  background-image: url(header.jpg);
  background-position:center;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  height: 600px;
  position:relative;
}
@media (max-width: 700px){
  .image{
    background-image: url(header2.jpg);
  }
}
.head{
  justify-content: space-between;
  position:relative;
  display: flex;
}
.logo {
  font-size: 50px;
  color: #fff;
  padding: 0;
  width:auto;
  height:auto;
  display: flex;
}

.synopsis{
  height: auto;
  font-size:50px;
  color:black;
  text-align: center;
  padding: 100px;
}
@media (max-width: 700px){
  .synopsis{
   height: auto;
   font-size: 30px;
   padding: 50px;
  }
}
 .hheader{
  font-size: 50px;
  padding:10px;
  width:auto;
  height:auto;
  text-align: center;
}
div.input{
  display: flex;
  justify-content: center;
}
button.moreInfo{
  margin: 10px;
 height: 40px;
 width: 70px;
 border-radius: 8px;
 background-color: white;
}
button#search{
margin: 10px;
 height: 40px;
 width: 70px;
 border-radius: 8px;
 background-color: white;
}
input#yearSearch{
  align-self: center;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  width:25%;
  border: 5px solid black;
}
div.info{
  display: none;
  font-size: 40px;
}
div.info2{
  display: block;
}
h1.quote{
  font-size: 65px;
}
h2.author{
  font-size: 45px;
}
div.quote-text{
  padding: 30% 40% 20% 7%; 
  width: auto;
  height: auto;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0px 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: #f2f2f2;
  font-size: 35px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
span#source{
  font-family: block;
  padding: 0px 10px;
  text-align: right;
  font-size: 30px;
}

h4{
  font-size: 50px;
  padding: 0px 0px 0px 10px;
  
}

a.return{
  font-size: 30px;
  border: 5px solid white;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  display: flex;
  width: auto;
  justify-content: center;
}
footer{
  font-size: 30px;
  background-color: grey;
  padding: 10px;
  text-align: center;
}
a{
  color: black;
  text-decoration: none;
}





